
html,
body {
  height: 100%
}

.App {
  height: 100%;
}

body {
  margin: 0;
}

header {
  padding: 1rem;
  color: white;
  background-color: brown;
}

h1 {
  font-weight: normal;
}

.btn.btn-primary {
  color: white;
  background-color: brown;
  border-color: brown;
  font-weight: bold;
  width: 100%;
}
