
.SchedulingConfirmationView {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.confirmation-card {
    text-align: center;
}

.confirmation-card .card-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.confirmation-card .card-text {
    color: black;
}

.resume-card .card-title {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 2rem;
}
.resume-card .form-group {
    margin: 0;
}

.resume-card .form-label {
    margin: 0;
}

.resume-card .form-control {
    color: brown;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: -12px;
    margin-left: 8px;
}