
.SchedulingView {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.calendar-header {
    background-color: rgb(58, 122, 58);
}
.react-calendar {
    color: brown;
}